body {
  background-color: #111111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  color: white;
}
span {
  color: white;
}

h1 {
  color: white;
}
