@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.mv-trailer__container {
  display: flex;
  justify-content: center;
}
.mv-traile {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.mv-title__component {
  text-align: center;
  color: #c0c0c0;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
}
